In [17]:
import os
import pandas as pd

# Ruta raíz donde están las carpetas Datos, Originales, DowJones
root_dir = ''

# Lista para guardar los dataframes
dataframes = []

# Recorrer carpetas y subcarpetas buscando archivos CSV
for folder in ['Datos', 'Originales', 'DowJones']:
    folder_path = os.path.join(root_dir, folder)
    for root, dirs, files in os.walk(folder_path):
        for file in files:
            if file.endswith('.csv'):
                file_path = os.path.join(root, file)
                df = pd.read_csv(file_path, index_col='date')
                dataframes.append(df)

# Unir todos los dataframes en uno solo
df_completo = pd.concat(dataframes, ignore_index=False)

In [ ]:
df_completo

In [7]:
df_completo.head()

,open,high,low,last,close,volume,symbol,exchange
date,,,,,,,,
2018-08-16T21:30:00+0000,213.370,213.41,213.300,NaN,213.300,NaN,AAPL,IEXG
2018-08-16T21:00:00+0000,213.280,213.41,213.160,NaN,213.300,NaN,AAPL,IEXG
2018-08-16T20:30:00+0000,213.430,213.43,212.985,NaN,213.280,NaN,AAPL,IEXG
2018-08-16T20:00:00+0000,213.133,213.73,212.985,NaN,213.480,NaN,AAPL,IEXG
2018-08-16T19:30:00+0000,213.273,213.30,213.133,NaN,213.133,NaN,AAPL,IEXG

In [18]:
df.isna().sum()

open            0
high            0
low             0
last        57810
close       24973
volume      57677
symbol          0
exchange        0
dtype: int64

In [20]:
df.shape

(136697, 8)

In [21]:
from datetime import datetime
df_completo.index = pd.to_datetime(df_completo.index)

In [23]:
# Comprobamos frecuencias temporales
# Agrupar por 'symbol' (acción)
grupos = df_completo.groupby('symbol')

def frecuencia_legible(delta):
    # delta es un pd.Timedelta
    if delta >= pd.Timedelta(days=365):
        return f'{delta.days // 365} años'
    elif delta >= pd.Timedelta(days=30):
        return f'{delta.days // 30} meses'
    elif delta >= pd.Timedelta(days=1):
        return f'{delta.days} días'
    elif delta >= pd.Timedelta(hours=1):
        return f'{delta.components.hours} horas'
    elif delta >= pd.Timedelta(minutes=1):
        return f'{delta.components.minutes} minutos'
    else:
        return str(delta)

frecuencias = {}

for symbol, grupo in grupos:
    diffs = grupo.index.to_series().diff().dropna()
    modo_diff = diffs.mode()[0]  # diferencia temporal más frecuente
    frecuencias[symbol] = frecuencia_legible(modo_diff)

for symbol, freq in frecuencias.items():
    print(f"Frecuencia para {symbol}: {freq}")

Frecuencia para AAPL: -1 days +23:55:00
Frecuencia para AMGN: -1 days +23:55:00
Frecuencia para AXP: -1 days +23:59:00
Frecuencia para BA: -1 days +23:59:00
Frecuencia para CAT: -1 days +23:59:00
Frecuencia para CRM: -1 days +23:59:00
Frecuencia para CSCO: -1 days +23:59:00
Frecuencia para CVX: -1 days +23:59:00
Frecuencia para DIS: -1 days +23:59:00
Frecuencia para DOW: -1 days +23:59:00
Frecuencia para GS: -1 days +23:59:00
Frecuencia para HD: -1 days +23:59:00
Frecuencia para IBM: -1 days +23:59:00
Frecuencia para INTC: -1 days +23:59:00
Frecuencia para JNJ: -1 days +23:59:00
Frecuencia para JPM: -1 days +23:59:00
Frecuencia para KO: -1 days +23:59:00
Frecuencia para MCD: -1 days +23:59:00
Frecuencia para MMM: -1 days +23:59:00
Frecuencia para MRK: -1 days +23:59:00
Frecuencia para MSFT: -1 days +23:59:00
Frecuencia para NKE: -1 days +23:59:00
Frecuencia para PG: -1 days +23:59:00
Frecuencia para TRV: -1 days +23:59:00
Frecuencia para UNH: -1 days +23:59:00
Frecuencia para V: -1 days +23:59:00