In [6]:
import os
import pandas as pd

# Ruta raíz donde están las carpetas Datos, Originales, DowJones
root_dir = ''

# Lista para guardar los dataframes
dataframes = []

# Recorrer carpetas y subcarpetas buscando archivos CSV
for folder in ['Datos', 'Originales', 'DowJones']:
    folder_path = os.path.join(root_dir, folder)
    for root, dirs, files in os.walk(folder_path):
        for file in files:
            if file.endswith('.csv'):
                file_path = os.path.join(root, file)
                df = pd.read_csv(file_path, index_col='date')
                dataframes.append(df)

# Unir todos los dataframes en uno solo
df_completo = pd.concat(dataframes, ignore_index=False)

In [7]:
df_completo.head()

,open,high,low,last,close,volume,symbol,exchange
date,,,,,,,,
2018-08-16T21:30:00+0000,213.370,213.41,213.300,NaN,213.300,NaN,AAPL,IEXG
2018-08-16T21:00:00+0000,213.280,213.41,213.160,NaN,213.300,NaN,AAPL,IEXG
2018-08-16T20:30:00+0000,213.430,213.43,212.985,NaN,213.280,NaN,AAPL,IEXG
2018-08-16T20:00:00+0000,213.133,213.73,212.985,NaN,213.480,NaN,AAPL,IEXG
2018-08-16T19:30:00+0000,213.273,213.30,213.133,NaN,213.133,NaN,AAPL,IEXG

In [8]:
df.isna().sum()

open            0
high            0
low             0
last        57810
close       24973
volume      57677
symbol          0
exchange        0
dtype: int64

In [9]:
df.shape

(136697, 8)