In [3]:
import os
import pandas as pd

# Ruta raíz donde están las carpetas Datos, Originales, DowJones
root_dir = ''

# Lista para guardar los dataframes
dataframes = []

# Recorrer carpetas y subcarpetas buscando archivos CSV
for folder in ['Datos', 'Originales', 'DowJones']:
    folder_path = os.path.join(root_dir, folder)
    for root, dirs, files in os.walk(folder_path):
        for file in files:
            if file.endswith('.csv'):
                file_path = os.path.join(root, file)
                df = pd.read_csv(file_path)
                dataframes.append(df)

# Unir todos los dataframes en uno solo
df_completo = pd.concat(dataframes, ignore_index=True)

In [4]:
df_completo

,open,high,low,last,close,volume,date,symbol,exchange
0,213.370,213.41,213.300,NaN,213.300,NaN,2018-08-16T21:30:00+0000,AAPL,IEXG
1,213.280,213.41,213.160,NaN,213.300,NaN,2018-08-16T21:00:00+0000,AAPL,IEXG
2,213.430,213.43,212.985,NaN,213.280,NaN,2018-08-16T20:30:00+0000,AAPL,IEXG
3,213.133,213.73,212.985,NaN,213.480,NaN,2018-08-16T20:00:00+0000,AAPL,IEXG
4,213.273,213.30,213.133,NaN,213.133,NaN,2018-08-16T19:30:00+0000,AAPL,IEXG
...,...,...,...,...,...,...,...,...,...
2744413,234.500,235.60,234.170,235.300,234.090,291094.0,2021-06-29T17:07:00+0000,V,IEXG
2744414,234.500,235.60,234.170,235.235,234.090,290571.0,2021-06-29T17:05:00+0000,V,IEXG
2744415,234.500,235.60,234.170,235.270,234.090,290254.0,2021-06-29T17:04:00+0000,V,IEXG
2744416,234.500,235.60,234.170,235.255,234.090,289854.0,2021-06-29T17:03:00+0000,V,IEXG
2744417,234.500,235.60,234.170,235.285,234.090,289454.0,2021-06-29T17:02:00+0000,V,IEXG